*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html, body{
  font-family: "Play-Regular";
  font-weight: 200;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

header .navbar{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(32,62,74,1) 81%);
  width: 100%;
}

.navbar-dark .navbar-toggler{
  outline: none;
  border: none;
}

header .navbar-nav{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar-collapse{
  justify-content: space-around;
}

.navbar-nav a{
  border-radius: 50px;
  border: solid 1px rgb(0, 0, 0);
  transition: 0.3s;
}

.navbar-nav ul li a{
  transition: 0.3s;
}

.navbar-nav a:hover{
  cursor: pointer;
  background-color: rgb(255, 136, 0);
  border-radius: 50px;
  border: solid 1px rgb(0, 0, 0);
  
}
.nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0);
}

.search {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 10px 0 10px 0;
}

.search input {
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-right: none;
  padding: 15px;
  margin: 0;
  height: 20px;
  border-radius: 50px 0 0 50px;
  outline: none;
}

.search button {
  width: 30px;
  height: 34px;
  margin: 0;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(32, 62, 74);
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 10px;
  transition: 0.3s;
}
.cart a{
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding-left: 10px;
  transition: 0.3s;
}
.cart a:hover{
  color: rgb(255, 136, 0);
}
.signin {
  display: flex;
  width: 185px;
}
.signin a{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 180px;
  height: 35px;
  transition: 0.3s;
}
.signin a:hover{
  background-color: rgb(255, 136, 0);
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
/*----------------- FIRST BANNER ---------------*/
.carousel {
  background: black;
  width: 100%;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, .5);
  border-radius: 40px;
}
.carousel-caption p{
  margin-bottom: 15px;
}
/*-----BANNER MOBILE-----*/
.img-thumbnail {
  padding: 0;
  background-color: #fff;
  border: none;
  max-width: 100%;
  height: auto;
}
/*--------------- ANIMACIÓN FLECHA---------------*/
.arrow-down{
  margin-top: 60px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  animation: bounce 2s infinite;
}
/*---TITULO PRESALES GAMES---*/
.section-title h2{
  font-size: 30px;
  margin: 0;
  padding: 10px 0 40px ;
  font-family: "Play-Bold";
}
/*------- GAMES-------*/
.index-carousel-games{
  padding: 0 30px 0 30px;
}
.card{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-img-top{
  transition: 0.5s
}
.card-img-top:hover{
  transform: scale(1.13)
}
.card-body{
  padding: 0.5rem 1rem 1rem 1rem;
}
.card-body h6{
  font-family: "Play-Bold";
}
.card-body h6,p{
  margin-bottom: 0;
}
.card-body a{
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
/*------INDEX BANNER'S ----*/
.index-banner{
  margin: 60px 0 30px 0;
}
.index-banner3{
  margin: 60px 0 30px 0;
  border-bottom: 1px solid rgb(192, 185, 185);
  border-top: 1px solid rgb(192, 185, 185);
}
/*--------------COLLECTOR'S LIMITED EDITIONS------*/
.index-packs{
  padding: 0 60px 0 60px;
}
.packs{
  display: inline-flex;
  align-items: baseline;
  justify-content: space-around;
}
.packedition img{
  transition: 0.5s;
}
.packedition img:hover{
  transform: scale(1.1)
}
/*---------------SOON IN FROM GAMES---------------*/
.index-soonin{
padding: 0 150px 40px 150px
}
.soonin img{
  cursor: pointer;
}
.soonin img:hover{
  transform: none;
}
/*-----FOOTER -----*/
footer.row{
  width: 100%;
}
footer{
  padding: 30px 50px 0 50px;
  color: rgb(255, 255, 255);
  background-color:  rgb(17, 17, 17);
}
.footer-subsection{
  height: 200px;
}
.creditcards{
  margin: 0;
  padding-left: 70px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cbook{
  width: 50px;
  height: 50px;
  font-size: 60px;
}
.footer-title h4{
  font-family: "Play-Bold";
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-info li{
  font-size: 15px;
}
footer .subfooter{
  font-size: 12px;
  padding: 10px;
  display: block;
  text-align: center;
  border-top: solid 1px rgb(255, 255, 255);
}
.redes-sociales a{
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-left: 10px;
  transition: 0.3s;
}
#facebook:hover{
  color: rgb(255, 136, 0);
}
#instagram:hover{
  color: rgb(255, 136, 0);
}
