*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: "Play-Regular";
  font-weight: 200;
}

header {
  background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(32,62,74,1) 81%);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
header .navbar{
  width: 100%;
}
.navbar-dark .navbar-toggler{
  outline: none;
  border: none;
}
header .navbar-nav{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.navbar-collapse{
  justify-content: space-around;
}
.navbar-nav a{
  border-radius: 50px;
  border: solid 1px rgb(0, 0, 0);
  transition: 0.3s;
}
.navbar-nav ul li a{
  transition: 0.3s;
}
.navbar-nav a:hover{
  cursor: pointer;
  background-color: rgb(255, 136, 0);
  border-radius: 50px;
  border: solid 1px rgb(0, 0, 0); 
}
.nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0);
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0 10px 0;
}
.search input {
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-right: none;
  padding: 15px;
  margin: 0;
  height: 20px;
  border-radius: 50px 0 0 50px;
  outline: none;
}
.search button {
  width: 30px;
  height: 34px;
  margin: 0;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(32, 62, 74);
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 10px;
  transition: 0.3s;
}
.cart a{
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding-left: 10px;
  transition: 0.3s;
}
.cart a:hover{
  color: rgb(255, 136, 0);
}
.signin {
  display: flex;
  width: 185px;
}
.signin a{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 180px;
  height: 35px;
  transition: 0.3s;
}
.signin a:hover{
  background-color: rgb(255, 136, 0);
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
/*----------------- FIRST BANNER ---------------*/
.carousel {
  background: black;
  width: 100%;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, .5);
  border-radius: 40px;
}
.carousel-caption p{
  margin-bottom: 15px;
}
/*-----BANNER MOBILE-----*/
.img-thumbnail {
  padding: 0;
  background-color: #fff;
  border: none;
  max-width: 100%;
  height: auto;
}
/*--------------- ANIMACIÓN FLECHA---------------*/
.arrow-down{
  margin-top: 40px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
/*---TITULO PRESALES GAMES---*/
.section-title{
  margin: 0;
  padding: 10px 0 40px ;
  font-family: "Play-Bold";
}

.section-title__text{
  font-size: 30px;
}
/*------- GAMES-------*/
.index-carousel-games{
  padding: 0 30px 0 30px;
}
.card{
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-img-top{
  overflow: hidden;
  transition: 0.5s
}
.card-img-top:hover{
  transform: scale(1.10)
}
.card-body{
  padding: 0.5rem 1rem 1rem 1rem;
}
.card-body h6{
  font-family: "Play-Bold";
}
.card-body h6,p{
  margin-bottom: 0;
}
.card-body a{
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
/*------INDEX BANNER'S ----*/
.index-banner{
  margin: 60px 0 30px 0;
}
.index-banner3{
  margin: 60px 0 30px 0;
  border-bottom: 1px solid rgb(192, 185, 185);
  border-top: 1px solid rgb(192, 185, 185);
}
/*--------------COLLECTOR'S LIMITED EDITIONS------*/
.img-pack{
  overflow: hidden;
}
.packedition img{
  transition: 0.5s;
}
.packedition img:hover{
  transform: scale(1.1)
}

/*---------------SOON IN FROM GAMES---------------*/
.index-soonin{
padding-bottom: 40px 
}
.soonin img{
  cursor: pointer;
}
.soonin img:hover{
  transform: none;
}
/*-----FOOTER -----*/
footer.row{
  width: 100%;
}
footer{
  padding: 30px 50px 0 50px;
  color: rgb(255, 255, 255);
  background-color:  rgb(17, 17, 17);
}
.footer-subsection{
  height: 200px;
}
.creditcards{
  font-size: 30px;
}
.cbook{
  width: 50px;
  height: 50px;
  font-size: 60px;
}
.footer-title h4{
  font-family: "Play-Bold";
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-info li{
  font-size: 15px;
}
footer .subfooter{
  font-size: 12px;
  padding: 10px;
  display: block;
  text-align: center;
  border-top: solid 1px rgb(255, 255, 255);
}
.redes-sociales a{
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-left: 10px;
  transition: 0.3s;
}
#facebook:hover{
  color: rgb(255, 136, 0);
}
#instagram:hover{
  color: rgb(255, 136, 0);
}
/*---------- BACK TO TOP BUTTON--------*/
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(255, 136, 0);
  color: rgb(0, 0, 0); 
  cursor: pointer; 
  padding: 12px; 
  border-radius: 100px; 
  font-size: 18px; 
  transition: 0.5s;
}
#myBtn:hover {
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 136, 0); 
}
/*----NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS-----*/
.news-title{
  padding: 30px 0 30px 0;
}
/*----ESPORTS EPORTS ESPORTS ESPORTS ESPORTS ESPORTS ESPORTS----*/
.esports-banner-description{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}
.subtitle-esports{
  padding: 20px 0 20px 0;
}
.title-categories{
  padding-top: 40px;
}
/*----- GALLERY -----*/

.gallery-section{
  padding: 60px 0; 
}
.gallery-section h2{
color: #333333;
text-transform: uppercase;
font-size: 1.6em;

}
.gallery-section .gallery-box{
  background: #fff;
  padding: 15px;
  display: grid;
      grid-template-columns: repeat(5, auto);
    /*grid-template-rows: repeat(1, 18vw);*/
    grid-auto-rows: 16vw;
      grid-gap: 1rem;
      grid-auto-flow: dense;
}
.gallery-section .gallery-box .box{
    display: inline-block;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px 4px 15px 4px;
  box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.15);
  transition: all .5s ease;
}
.gallery-section .gallery-box .box:hover{
  box-shadow: 0px 4px 40px -4px rgba(0, 0, 0, 0.3);
}
.gallery-section .gallery-box .box.big {
    grid-row: span 2;
    grid-column: span 2;
  }
  
.gallery-section .gallery-box .box.horizontal {
    grid-column: span 2;
  }

.gallery-section .gallery-box .box.vertical {
    grid-row: span 2;
}
.gallery-section .gallery-box .box img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
}
.gallery-section .gallery-box .box:hover img{
  transform: scale(1.2);
}

@media (max-width: 991px) {
  .gallery-section .gallery-box{
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: 18vw;
    }
}
@media (max-width: 767px) {
  .gallery-section .gallery-box{
        grid-template-columns: repeat(3, auto);
    }
}
@media (max-width: 575px) {
  .gallery-section .gallery-box{
        grid-template-columns: repeat(2, auto);
          grid-auto-rows: 35vw;
    }
}
/*----------LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN ------------*/
.main-login{
  height: 100vh;
  padding: 15px 0 30px 15px;
  background-image: url("../images/img-login/darksouls.jpg");
  background-size: cover;
}
.login-sidebar{
  margin-top: 20px;
}
.login-sidebar form{
  border-radius: 20px;
  width: 400px;
  padding: 20px;
  background-color: rgba(44, 42, 42, 0.8);
  color: rgb(255, 255, 255);
}
.button-submit{
  margin-bottom: 20px;
}
.button-submit button{
  width: 100%;
}
.form-separator{
  margin: 10px 0 10px 0;
}
/*----MEDIA QUERYS------MEDIA QUERYS-----MEDIA QUERYS------*/
@media (max-width: 576px) {
  .main-login{
    height: 100%;
  }
  .login-sidebar form{
    width: 300px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .news-title h1{
    font-size: 20px;
    color: blue;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .news-title h1{
    font-size: 40px;
    color: purple;
  }
}
@media (min-width: 992px) {
  .news-title h1{
    font-size: 60px;
    color: yellow;
  }
  .main-news, .main-esports{
    padding: 0 80px 30px 80px;
  }
  /*---ESPORTS TABLAS DE PREMIOS---*/
  .esports-tables{
    padding: 0 200px 0 200px;
  }
}
